
# Created by https://www.toptal.com/developers/gitignore/api/cpp
# Edit at https://www.toptal.com/developers/gitignore?templates=cpp

#!! ERROR: cpp is undefined. Use list command to see defined gitignore types !!#

# End of https://www.toptal.com/developers/gitignore/api/cpp
